* {
    box-sizing: border-box;
}

.body {
    font-family: Verdana, serif;
    font-size: medium;
}

.header {
    background-color: #1b4d7e;
    color: #fdeef4;
    padding: 15px;
}

.menu {
    float: left;
    width: 20%;
}

.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 4px solid #f1f1f1;
    color: #1b4d7e;
    background-color: #add8e6;
}

.thisitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 4px solid #f1f1f1;
    color: #CFB53B;
    background-color: #1b4d7e;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}

.right {
    background-color: #336699;
    color: #fdeef4;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.editor {
    width: 100%;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
    font-size: 12px;
}

.inline-container {
    background-color: #336699;
    color: #fdeef4;
    padding: 10px 15px;
    margin-top: 7px;
}

.title-edit {
    background-color: #336699;
    color: #fdeef4;
    padding: 10px 15px;
    margin-top: 7px;
    display: inline;
}

.seq-edit {
    background-color: #336699;
    color: #fdeef4;
    padding: 10px 15px;
    margin-top: 7px;
    display: inline;
}

.form-submit {
    background-color: #336699;
    color: #fdeef4;
    padding: 10px 15px;
    margin-top: 7px;
}

.icons {
    float: right;
    padding: 5px;
}

.icon {
    opacity: 0.25;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.gloss_item {
    display: none;
}

@media only screen and (max-width: 800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}
